<script>
  $('#button-menu').click(function(){
    var res = $('#navbar-menu').css('display');
    if (res && res == 'none')
      $('#navbar-menu').show('slow');
    else
      $('#navbar-menu').hide('slow');
  });
</script>
<div id="template-wrapper">
  <div class='header navbar col-sm-12'>
    <div id="logo" class="col-sm-2">
      <img src="assets/images/logoeco.png" alt="eco-active">
    </div>
    <div id="button-menu" class="button-men">
      <span class="menu-text">Menu<div class="glyphicon glyphicon-menu-hamburger glyphicon-button-menu"></div></span>
    </div>
    <ul id="navbar-menu" class='nav navbar-nav navbar-right navbar-top col-sm-6'>
      <li><a href="#empresa" alt="empresa">Empresa</a></li>
      <li><a href="#productos" alt="productos">Productos</a></li>
      <li><a href="#innovacion" alt="innovacion">Innovación</a></li>
      <li><a href="#blog" alt="blog">Blog</a></li>
      <li><a href="#contacto" alt="contacto">Contacto</a></li>
    </ul>
  </div>
  <div class='container col-sm-12'>
    <div id="first_banner">
      <img src="assets/images/2-banner-ecoactive.jpg" class="img-responsive" alt="Shine all biodegradables con tecnologia novitex®">
    </div>
    <img src="assets/images/1-texto-ecoactive.jpg" class="img-responsive" alt="El mundo te pide pensar más verde">
    <div id="productos">
      <img src="assets/images/2-texto-ecoactive.jpg" class="img-responsive" alt="Convierte tu vehiculo en hibrido">
      <a href="#" alt="ecoactive website"><img src="assets/images/5-boton-ecoactive.jpg" class="img-responsive button-cyclone" alt="cylcone"></a>
      <a id="ver-producto1" href="#" class="button button-1">ver producto</a>
      <a href="#" alt="Wipes Shine all"><img src="assets/images/6-boton-ecoactive.jpg" class="img-responsive button-wipes" alt="Wipes Shine all Novitex"></a>
      <a id="ver-producto2" href="#" class="button button-2">ver producto</a>
    </div>
    <img src="assets/images/3-texto-ecoactive.jpg" class="img-responsive" alt="Innovacion">
    <a href="#" alt="cyclone eco/active website"><img src="assets/images/1-boton-ecoactive.png" class="img-responsive button-cyclone2" alt="eco active link liga"></a>
    <a href="#" alt="shine all wipes"><img src="assets/images/2-boton-ecoactive.png" class="img-responsive button-wipes2" alt="shine all wipes link liga"></a>
    <img src="assets/images/4-texto-ecoactive.jpg" class="img-responsive" alt="Contacte con nosotros">
    <a href="#" alt="cyclone eco/active website"><img src="assets/images/3-boton-ecoactive.png" class="img-responsive button-ver-mas" alt="eco active link liga"></a>
    <a href="#" alt="shine all wipes"><img src="assets/images/4-boton-ecoactive.png" class="img-responsive button-contactarnos" alt="shine all wipes link liga"></a>
    <div id="map-canvas"></div>
    <div class="contact-form col-sm-12">
      <div class="col-sm-6 col-form-contacto">
        <div id="attr-hidden1" class="attr-hidden col-sm-2" style="height:260px;"></div>
        <a href="#" alt="Logo eco-active"><img src="assets/images/logo-ecoactive-2.png" class="logo-ecoactive2 col-sm-8" alt="logo ecoactive"></a>
        <div class="attr-hidden col-sm-4" style="height:35px;"></div>
        <p class="col-sm-9 col-direcion">Calle Chimalpopoca No.140, Col. Ciudad del Sol</p>
        <p class="col-sm-9 col-direcion">C.P. 45050 Zapopan, Jalisco; México.</p>
        <div class="info-contacto col-sm-6">
          <a href="#" alt="www.ecoactive.com website"><p>www.ecoactive.com</p></a><br>
          <p>Tel. (33) 31223891</p><br>
          <a href="mailto:ventas@ecoactive.com" alt="mail contact ventas@ecoactive.com"><p>ventas@ecoactive.com</p></a>
        </div>
        <ul class="redes-sociales col-sm-6">
          <li class="col-sm-3"><a href="#" alt="Facebook redes sociales"><img src="assets/images/botonface.jpg" class="img-responsive" alt="Icono Facebook redes sociales"></a></li>
          <li class="col-sm-3"><a href="#" alt="Twitter redes sociales"><img src="assets/images/botontwitter.jpg" class="img-responsive" alt="Icono Twitter redes sociales"></a></li>
          <li class="col-sm-3"><a href="#" alt="Youtube redes sociales"><img src="assets/images/botonyoutube.jpg" class="img-responsive" alt="Icono Youtube redes sociales"></a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-form-contacto">
        <input class="inp-nombre-email col-sm-9" alt="nombre email" placeholder="Nombre*">
        <input class="inp-nombre-email col-sm-9" alt="nombre email" placeholder="E-mail*">
        <input class="inp-mensaje col-sm-9" alt="mensaje eco/active" placeholder="Tu mensaje*">
        <span class="col-sm-6 text-datos">* Datos obligatorios</span>
        <a id="enviar" href="#" class="button2 col-sm-3">enviar</a>
      </div>
    </div>
  </div>
  <div class='container-footer col-sm-12'>
    <!--<div class="logo-redes row">
      <div class="attr-hidden col-sm-5" style="width:39%"></div>
      <img src="assets/images/logocyclonesolo.png" class="img-responsive col-sm-3" alt="Cyclone eco/active">
      <div class="attr-hidden col-sm-1"></div>

    </div>
    <div class="information-contact col-sm-12">
      <span class="col-sm-4 contact-cell-street">Calle Chimalpopoca No.140, Col. Cuidad del Sol<br>C.P. 45050 Zapopan, Jalisco, México.</span>
      <span class="col-sm-2 contact-cell"><a href="www.cyclone.com">www.cyclone.com</a></span>
      <span class="col-sm-2 contact-cell">Tel. (33) 31223891</span>
      <span class="col-sm-4 contact-cell"><a href="mailto:ventas@cyclone.com">ventas@cyclone.com</a></span>
    </div> -->
    <div class="end-footer col-sm-12">
      <span class="col-sm-7 text-marca" style="margin-top: 40px;">Marca Registrada ® ENDORCORE® 2014. Todos los derechos reservados.</span>
      <div class="attr-hidden col-sm-3"></div>
      <img src="assets/images/logoendorcore.png" class="img-responsive col-sm-2 img-endorcore" alt="Imagen endorcore logo">
    </div>
  </div>
</div>
